.main-background {
    background-color: #ffffff;
    background-image: url("https://images.app.goo.gl/b1a16xovV9r3QJAR7");
    background-repeat: no-repeat;
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }